body {
    font-family: lato;
    display: flex;
    flex-direction: column;
}

.chat-form {
    display: flex;
}

.chat-form *:not(:first-child) {
    margin-left: 1pc;
}

.chat-form .input-box {
    padding: 1pc;
    flex: 1;
}

.chat-form input[type=submit] {
    padding: 1pc;
    border-radius: 4px;
    border: solid 1px black;
}

.chat-box {
    flex: 1 1 auto;
}

.chat-box div {
    background: #eee;
    box-shadow: 2px 2px 4px #aaa;
    padding: 1pc;
    margin-bottom: 0.75pc;
}